/* :root {
    --beige-grey: #C7D2DA;
    --light-blue: #ECF7FF;
    --muted-light-blue: #A5B0B8;
    --stone-blue: #6E90A9;
    --blue: #10274A;
    --dark-blue: #071A27;
    --prompt-blue: #c2dff4;
    --message-blue:rgb(20, 66, 100);
    --white: #FFFFFF;
    --black: #000000;
    --green:#76c394;
    --red:#9c0404;
    --error-bgk:#825f65;
    --error-txt:#e4d2d5;
    --link-blue:rgb(33, 28, 186);
    --magenta:rgb(121, 19, 85);
    --medium-blue:rgb(51, 118, 184);
    --grey:rgb(77, 77, 77);
} */